NCL_CruiseGroupContract_Module/NCL_CruiseGroupContract_Module/appContext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://NCL_CruiseGroupContract_Module"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nclapi/schemas">
	<xsd:import schemaLocation="NCL_CruiseGroupContractRQ.xsd"
		namespace="http://nclapi/schemas">
	</xsd:import>
	<xsd:complexType name="appContext">
		<xsd:sequence>
			<xsd:element minOccurs="0"
				ref="bons0:NCL_CruiseGroupContractRQ">
			</xsd:element>
			<xsd:element minOccurs="0" name="logID" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="errorCode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="errorText"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>