NCL_CruiseBookingPayment/NCL_CruiseBookingPayment/appContext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://NCL_CruiseBookingPayment"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nclapi/schemas">
	<xsd:import schemaLocation="NCL_CruiseBookingPaymentRS.xsd"
		namespace="http://nclapi/schemas">
	</xsd:import>
	<xsd:import schemaLocation="NCL_CruiseBookingPaymentRQ.xsd"
		namespace="http://nclapi/schemas">
	</xsd:import>
	<xsd:complexType name="appContext">
		<xsd:sequence>
			<xsd:element minOccurs="0"
				ref="bons0:NCL_CruiseBookingPaymentRQ">
			</xsd:element>
			<xsd:element minOccurs="0"
				ref="bons0:NCL_CruiseBookingPaymentRS">
			</xsd:element>
			<xsd:element minOccurs="0" name="LogId" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="ExtDays"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="DbDate"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="AgencyId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="errorCode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="errorText"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>