NCL_CruiseCreateClient_Module/NCL_CruiseCreateClient_Module/NclseaNcl_Wesb_Create_Client_Profile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
    targetNamespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/nclseancl_wesb_create_client_profile"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata" xmlns:nclseancl_wesb_create_client_profile="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/nclseancl_wesb_create_client_profile">
    <import
        namespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata" schemaLocation="JDBCASI.xsd"/>
    <annotation xml:space="preserve">
<appinfo
                source="http://www.ibm.com/xmlns/prod/j2ca/versionCompatability">
<info:resourceAdapter
                version="7.5.0.1" xmlns:info="http://www.ibm.com/xmlns/prod/j2ca/versionCompatability"/>
</appinfo>
</annotation>
    <annotation xml:space="preserve">
<appinfo
                source="commonj.connector.asi">
<asi:annotationSet
                asiNSURI="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata" xmlns:asi="commonj.connector.asi"/>
</appinfo>
</annotation>
    <complexType name="NclseaNcl_Wesb_Create_Client_Profile">
        <annotation xml:space="preserve">
<appinfo
                    source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCBusinessObjectTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPName>NCLSEA.NCL_WESB_CREATE_CLIENT_PROFILE</jdbcasi:SPName>
<jdbcasi:MaxNumOfRetRS>0</jdbcasi:MaxNumOfRetRS>
<jdbcasi:ResultSet>false</jdbcasi:ResultSet>
</jdbcasi:JDBCBusinessObjectTypeMetadata>
</appinfo>
</annotation>
        <sequence maxOccurs="1" minOccurs="1">
            <element maxOccurs="1" minOccurs="0" name="p_action"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_title"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_first"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_middle"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_last"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_gender"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_dob"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_occupation"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_username"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_password"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_email"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_citizenship"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_add1"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_add2"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_add_city"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_state"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_zip"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_country"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_address_type"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_phone_type"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_phone"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0"
                name="p_additional_info" nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_marital_status"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_no_of_children"
                nillable="true" type="decimal">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
<jdbcasi:DecimalScale>0</jdbcasi:DecimalScale>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_agency_name"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_agent_first"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_agent_last"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_contact_pref"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_anniversaydate"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0"
                name="p_pref_cruise_length" nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0"
                name="p_future_cruise_plan" nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0"
                name="p_pref_cruise_time" nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0"
                name="p_previously_cruised" nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0"
                name="p_previous_cruise_number" nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0"
                name="p_pref_booking_mode" nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_mainclient"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IO</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_clientid"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IO</jdbcasi:SPParameterType>
<jdbcasi:DecimalScale>0</jdbcasi:DecimalScale>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_errorcode"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>OP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
        </sequence>
    </complexType>
</schema>
