NCL_WESB_Shared_Library/NCL_LATITUDES_CLIENT_POINTS_TRG_RESP.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 U (http://www.xmlspy.com) by XMLSPY 2005 Professional Ed. Release 3, Installed for 3 users (with SMP from 2005-04-15 to 2006-04-16) (NCL) -->
<!--W3C Schema generated by XMLSpy v2005 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="NCL_LATITUDES_CLIENT_POINTS_TRG_RESP">
		<xs:annotation>
			<xs:documentation>This is the response to the TRG REQ message requesting some action be taken for a given client. The actual processing of the action will happen asynchronously in a batch mode in the res system.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SUCCESS" type="xs:string">
					<xs:annotation>
						<xs:documentation>Presence indicates message processing was successful. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ERROR_MSG" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>This indicates that the request to initiate the ACTION could not be completed. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ERROR_CODE" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>This indicates that the request to initiate the ACTION could not be completed. </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
