NCL_WESB_Shared_Library/NCL_CruiseRetrieveGroupBookingsRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by All Users (EDS/Norwegian Cruise Line) -->
<!--Need to check how to assign ADV (WARNINGS AND ERRORS) per guest  -->
<xs:schema xmlns="http://nclapi/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nclapi/schemas" elementFormDefault="qualified" version="2.1" id="OTA2005B">
	<xs:include schemaLocation="OTA_CommonPrefs.xsd"/>
	<xs:include schemaLocation="OTA_CommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_SimpleTypes.xsd"/>
	<xs:include schemaLocation="OTA_CruiseCommonTypes.xsd"/>
	<xs:include schemaLocation="NCL_CruiseCommonTypes.xsd"/>
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OTA 
specification are made available according to the terms defined by the OTA 
License Agreement at 
http://www.opentravel.org/ota_downloads_form.cfm</xs:documentation>
	</xs:annotation>
	<xs:element name="NCL_CruiseRetrieveGroupBookingsRS">
		<xs:annotation>
			<xs:documentation xml:lang="en">
The Retrieve Group Booking response message contains the information about the Group Booking that was requested such as,
- Group ID and Group Name
- Sailing information
- Agency/ Agent Information
etc.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Success" type="SuccessType">
						<xs:annotation>
							<xs:documentation> Standard way to indicate successful 
processing of an OTA message. Returning an empty element of this type indicates 
success.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Warnings" type="WarningsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation> Standard way to indicate successful 
processing of an OTA message, but one in which warnings are 
generated.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GroupsInfo" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Specifies the Booked Groups information</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="GroupInfo" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Specifies the Group Booking Information</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="AgentInfo" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Specifies the Agent Contact Information</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="ContactPersonType">
															<xs:sequence>
																<xs:element name="UserLogin" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Specifies the WEB User Login Name and Password</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:attributeGroup ref="UserLoginInfoGroup"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="ContactPreferences" minOccurs="0" maxOccurs="9">
																	<xs:annotation>
																		<xs:documentation>Specifies the Contact Preferences such as Phone, Mail, Fax or Email</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:attribute name="ContactPreference" type="StringLength1to64"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="SecurityLevel" type="StringLength1to64">
																<xs:annotation>
																	<xs:documentation>Specifies the Agent Security Level E.g Supervisor, Admin etc.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="AgentLocation" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Specifies the Agent location E.g Home-based outside agent , Store-front inside agent,Store-front outside agent 
</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:extension>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="AgencyInfo" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Specifies the Agency Info</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="SourceType">
															<xs:sequence>
																<xs:element name="Telephone" type="TelephoneInfoType" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Specifies the Telephone</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="Address" type="AddressInfoType" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Specifies the Address</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="Email" type="EmailType" minOccurs="0"/>
																<xs:element name="ContactPreferences" minOccurs="0" maxOccurs="9">
																	<xs:annotation>
																		<xs:documentation>Specifies the Contact Preferences such as Phone, Mail, Fax or Email</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:attribute name="ContactPreference" type="StringLength1to64"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="Website" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Specifies Agency web site</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="CompanyType">
																<xs:annotation>
																	<xs:documentation>Specifies the Agency Company type </xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="BusinessType">
																<xs:annotation>
																	<xs:documentation>Specifies the Agency Business type</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="IdentificationNumber" type="StringLength0to32">
																<xs:annotation>
																	<xs:documentation>Specifies the Identication Number for an Ageny E.g TIN/EIN Number</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="ARCNumber">
																<xs:annotation>
																	<xs:documentation>Specifies the Agency ARC number</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="IATANumber">
																<xs:annotation>
																	<xs:documentation>Specifies the Agency IATA number</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="CLIANumber">
																<xs:annotation>
																	<xs:documentation>Specifies the Agency CLIA Number</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="OfficeCode" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Specifies the Office Code</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="AgencyType" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Specifies the Agency Typ</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="LegalName" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Specifies the Agency's Legal name</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="AgencyClassificationCode" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Specifies the Agency's Classification Code</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="AgencyClassificationName" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Contains the full name of the Agency Classification Code</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:extension>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="SelectedSailing" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">Contains information related to the selected sailing. </xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="SailingBaseType">
															<xs:attribute name="VoyageID" type="StringLength1to32" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Specifies the cruise line unique identifier for a particular sailing.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attributeGroup ref="DateTimeSpanGroup_GRPRES"/>
															<xs:attribute name="Status" type="OTA_CodeType" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Specifies the status of the voyage. Refer to OTA Code table Status (STS).</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="PortsOfCallQuantity" type="Numeric1to99" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Number of ports of call that the specific sailing has.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:extension>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="GroupCode" type="StringLength1to16">
											<xs:annotation>
												<xs:documentation>Specifies the Group ID</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="GroupName" type="StringLength1to255">
											<xs:annotation>
												<xs:documentation>Specifies the name of the Group</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="NumberOfGuests" type="Numeric1to99">
											<xs:annotation>
												<xs:documentation>Number of Guests currently part of the Group</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="GroupType" type="StringLength1to16">
											<xs:annotation>
												<xs:documentation>Type of Group. For example : Speculative, Affinity etc</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="GroupStatus" type="StringLength3">
											<xs:annotation>
												<xs:documentation>Status of the Group Booking. For example : CL, CX etc</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="GroupInitDate" type="xs:string">
											<xs:annotation>
												<xs:documentation>Date when Group Booking was created</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="OfficeCode" type="StringLength1to16">
											<xs:annotation>
												<xs:documentation>Office Code that the Group Booking was created in.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attributeGroup ref="CurrencyCodeGroup"/>
										<xs:attribute name="AllocationExist" type="xs:boolean">
											<xs:annotation>
												<xs:documentation>Specifies if the Group Allocation exists or not</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:element name="Errors" type="ErrorsType">
					<xs:annotation>
						<xs:documentation> A collection of errors that occurred during 
the processing of a message.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
			<xs:attributeGroup ref="ResponseGroup"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
