NCL_WESB_Shared_Library/NCL_LATITUDES_POINTS_LOOKUP_RESP.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 U (http://www.xmlspy.com) by XMLSPY 2005 Professional Ed. Release 3, Installed for 3 users (with SMP from 2005-04-15 to 2006-04-16) (NCL) -->
<!--W3C Schema generated by XMLSpy v2005 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="NCL_LATITUDES_POINTS_LOOKUP_RESP">
		<xs:annotation>
			<xs:documentation>This retrieves the TIER LEVELS and their associated POINTS</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TIERS" minOccurs="0">
					<xs:complexType>
						<xs:sequence minOccurs="0">
							<xs:element name="TIER" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TIER_LEVEL" type="xs:string"/>
										<xs:element name="MIN_POINTS" type="xs:string"/>
										<xs:element name="EFF_FROM_DT" type="xs:string"/>
										<xs:element name="EFF_TO_DT" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SUCCESS" type="xs:string"/>
				<xs:element name="ERROR_MSG" type="xs:string" minOccurs="0"/>
				<xs:element name="ERROR_CODE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
