NCL_WESB_Shared_Library/NCL_LATITUDES_CLIENT_JRN_REQ.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 U (http://www.xmlspy.com) by XMLSPY 2005 Professional Ed. Release 3, Installed for 3 users (with SMP from 2005-04-15 to 2006-04-16) (NCL) -->
<!--W3C Schema generated by XMLSpy v2005 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="NCL_LATITUDES_CLIENT_JRN_REQ">
		<xs:annotation>
			<xs:documentation>Request to retrieve the details of points for a given client.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SOURCE" type="xs:string">
					<xs:annotation>
						<xs:documentation>Indicates who is making the request - typically NCL.com, SeaWeb etc.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TRANSACTION_ID" type="xs:string">
					<xs:annotation>
						<xs:documentation>This is supposed to be a unique ID generated by the requestor</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CLIENT_ID" type="xs:string"/>
				<xs:element name="TRANSACTION_DETAIL_DISP" type="xs:string">
					<xs:annotation>
						<xs:documentation>This is a TRUE or FALSE field. A TRUE value will result in the retrieval of additional details of the Points Transactions. This will be returned in the TRANSACTION_DETAILS element in the response. If FALSE, then the TRANSACTION_DETAILS element will be EMPTY.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
