NCL_WESB_Shared_Library/NCL_LATITUDES_CLIENT_JRN_RESP.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 U (http://www.xmlspy.com) by XMLSPY 2005 Professional Ed. Release 3, Installed for 3 users (with SMP from 2005-04-15 to 2006-04-16) (NCL) -->
<!--W3C Schema generated by XMLSpy v2005 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="NCL_LATITUDES_CLIENT_JRN_RESP">
		<xs:annotation>
			<xs:documentation>This is the response detailing the Client's points</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TRANSACTIONS" minOccurs="0">
					<xs:annotation>
						<xs:documentation>This repeats for each Sailing/ Manually adjusted points</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TRANSACTION" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="RECORD_ID" type="xs:string">
											<xs:annotation>
												<xs:documentation>Unique Record id</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="RES_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="SHIP_NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="SAIL_DATE_FROM" type="xs:string" minOccurs="0"/>
										<xs:element name="SAIL_DATE_TO" type="xs:string" minOccurs="0"/>
										<xs:element name="ACTIVITY_DESC" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>This describes the Sailing Detail or the reason for the manual adjustment.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="META_CAT" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Examples of this are INSIDE, OUTSIDE, BALCONY, SUITE</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="RES_INIT_DATE" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Reservation Booking Date</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="POINTS" type="xs:string">
											<xs:annotation>
												<xs:documentation>This will be the total points for this reservation</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="DATE_TIME" type="xs:string">
											<xs:annotation>
												<xs:documentation>Details exaclty when the points were applied to the client</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="USER" type="xs:string">
											<xs:annotation>
												<xs:documentation>Details exactly who or what process was the cause of the credit of these points to the client</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="TRANSACTION_DETAILS" minOccurs="0">
											<xs:complexType>
												<xs:sequence minOccurs="0">
													<xs:element name="TRANSACTION_DETAIL" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>This tag describes the details of the rules comprising the total points</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="RECORD_ID" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Unique record ID</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="SEQ" type="xs:int"/>
															<xs:attribute name="RULE_ID" type="xs:string">
																<xs:annotation>
																	<xs:documentation>The ID of the rule that was used to credit the points</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="RULE_DESC" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Describes the rule</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="BASE_POINTS" type="xs:string"/>
															<xs:attribute name="MULTIPLIER" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Typically the number of Sailing Days.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="POINTS" type="xs:decimal">
																<xs:annotation>
																	<xs:documentation>This is the result of the multiplication of BASE_POINTS and MULTIPLIER</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CLIENT_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="SUCCESS" type="xs:string">
					<xs:annotation>
						<xs:documentation>The presence of this tag indicates sucesful processing of message</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TOTAL_POINTS" type="xs:decimal" minOccurs="0">
					<xs:annotation>
						<xs:documentation>This will be the total points for this client</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ERROR_MSG" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The prsence of this tag indicates an error in retrieving the client's points detail.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ERROR_CODE" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The prsence of this tag indicates an error in retrieving the client's points detail.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
