NCL_WESB_Shared_Library/NCL_LATITUDES_POINTS_LOOKUP_REQ.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 U (http://www.xmlspy.com) by XMLSPY 2005 Professional Ed. Release 3, Installed for 3 users (with SMP from 2005-04-15 to 2006-04-16) (NCL) -->
<!--W3C Schema generated by XMLSpy v2005 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="NCL_LATITUDES_POINTS_LOOKUP_REQ">
		<xs:annotation>
			<xs:documentation>This is to request the TIER LEVELS and their associated POINTS</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="EFF_DT" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Effective dates of Tier levels. This is typically the CURRENT date and will return the current TIER LEVEL structure in the RES System.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TRANSACTION_ID" type="xs:string">
					<xs:annotation>
						<xs:documentation>This is supposed to be a unique ID generated by the requestor</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SOURCE" type="xs:string">
					<xs:annotation>
						<xs:documentation>Indicates who is making the request - typically NCL.com, SeaWeb etc.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
