NCL_WESB_Shared_Library/NCL_LATITUDES_CLIENT_POINTS_TRG_REQ.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 U (http://www.xmlspy.com) by XMLSPY 2005 Professional Ed. Release 3, Installed for 3 users (with SMP from 2005-04-15 to 2006-04-16) (NCL) -->
<!--W3C Schema generated by XMLSpy v2005 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="NCL_LATITUDES_CLIENT_POINTS_TRG_REQ">
		<xs:annotation>
			<xs:documentation>This is the Request to trigger various actions to affect the POINTS for a given Client. The actual trigger program is executed asynchronously in a batch mode in the RES system.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SOURCE" type="xs:string">
					<xs:annotation>
						<xs:documentation>Indicates the source system making the request</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TRANSACTION_ID" type="xs:string">
					<xs:annotation>
						<xs:documentation>This is a unique ID generated by the requestor</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CLEINT_ID" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Primary Client ID in the case of a merge.  Misspelled.  To be removed</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CLIENT_ID" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Primary Client ID in the case of a merge.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SECONDARY_CLIENT_ID" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Used only in the case of a MERGE or UNMERGE.  In the case of a MERGE, this will be client that will be INACTIVATED. In the case of an UNMERGE, this will be client that will go from INACTIVE back to ACTIVE.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RES_ID" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Used only in the case where  the client needs POINTS credited for a particular sailing activity - typically in a BK to CL transition or on the last day of sailing.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ACTION" type="xs:string">
					<xs:annotation>
						<xs:documentation>SELF_ENROLL; MERGE; UNMERGE, CREDIT_SAILING</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
