NCL_CruiseUserAuthenticationAndRetrieve_Module/NCL_CruiseUserAuthenticationAndRetrieve/JDBCImport.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="JDBCImport" targetNamespace="http://NCL_CruiseUserAuthenticationAndRetrieve/JDBCImport" xmlns:bons1="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/nclseancl_wesb_user_lookup" xmlns:bons2="http://com/ibm/j2ca/fault/afcfault" xmlns:tns="http://NCL_CruiseUserAuthenticationAndRetrieve/JDBCImport" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com/ibm/j2ca/fault/afcfault" xmlns:tns="http://com/ibm/j2ca/fault/afcfault">
      <xsd:include schemaLocation="UniqueConstraintFault.xsd"/>
      <xsd:include schemaLocation="RecordNotFoundFault.xsd"/>
      <xsd:include schemaLocation="IntegrityConstraintFault.xsd"/>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://NCL_CruiseUserAuthenticationAndRetrieve/JDBCImport" xmlns:bons4="http://com/ibm/j2ca/fault/afcfault">
      <xsd:import namespace="http://com/ibm/j2ca/fault/afcfault"/>
      <xsd:import namespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/nclseancl_wesb_user_lookup" schemaLocation="NclseaNcl_Wesb_User_Lookup.xsd"/>
      <xsd:element name="executeNclseaNcl_Wesb_User_Lookup">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="executeNclseaNcl_Wesb_User_LookupInput" type="bons1:NclseaNcl_Wesb_User_Lookup"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeNclseaNcl_Wesb_User_LookupResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="executeNclseaNcl_Wesb_User_LookupOutput" type="bons1:NclseaNcl_Wesb_User_Lookup"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UniqueConstraintFault_element" nillable="true" type="bons4:UniqueConstraintFault"/>
      <xsd:element name="IntegrityConstraintFault_element" nillable="true" type="bons4:IntegrityConstraintFault"/>
      <xsd:element name="RecordNotFoundFault_element" nillable="true" type="bons4:RecordNotFoundFault"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="executeNclseaNcl_Wesb_User_LookupRequestMsg">
    <wsdl:part element="tns:executeNclseaNcl_Wesb_User_Lookup" name="executeNclseaNcl_Wesb_User_LookupParameters"/>
  </wsdl:message>
  <wsdl:message name="executeNclseaNcl_Wesb_User_LookupResponseMsg">
    <wsdl:part element="tns:executeNclseaNcl_Wesb_User_LookupResponse" name="executeNclseaNcl_Wesb_User_LookupResult"/>
  </wsdl:message>
  <wsdl:message name="executeNclseaNcl_Wesb_User_LookupUniqueConstraintFaultMsg">
    <wsdl:part element="tns:UniqueConstraintFault_element" name="UniqueConstraintFault"/>
  </wsdl:message>
  <wsdl:message name="executeNclseaNcl_Wesb_User_LookupIntegrityConstraintFaultMsg">
    <wsdl:part element="tns:IntegrityConstraintFault_element" name="IntegrityConstraintFault"/>
  </wsdl:message>
  <wsdl:message name="executeNclseaNcl_Wesb_User_LookupRecordNotFoundFaultMsg">
    <wsdl:part element="tns:RecordNotFoundFault_element" name="RecordNotFoundFault"/>
  </wsdl:message>
  <wsdl:portType name="JDBCImport">
    <wsdl:operation name="executeNclseaNcl_Wesb_User_Lookup">
      <wsdl:input message="tns:executeNclseaNcl_Wesb_User_LookupRequestMsg" name="executeNclseaNcl_Wesb_User_LookupRequest"/>
      <wsdl:output message="tns:executeNclseaNcl_Wesb_User_LookupResponseMsg" name="executeNclseaNcl_Wesb_User_LookupResponse"/>
      <wsdl:fault message="tns:executeNclseaNcl_Wesb_User_LookupUniqueConstraintFaultMsg" name="UNIQUECONSTRAINT_VIOLATION"/>
      <wsdl:fault message="tns:executeNclseaNcl_Wesb_User_LookupIntegrityConstraintFaultMsg" name="INTEGRITY_CONSTRAINT_VIOLATION"/>
      <wsdl:fault message="tns:executeNclseaNcl_Wesb_User_LookupRecordNotFoundFaultMsg" name="RECORD_NOT_FOUND"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>