CreditCards_prod/ProdNCLFuseBoxMediation/FuseBoxMediationSharedCtx.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://NCLFuseBoxMediation"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="FuseBoxMediationSharedCtx">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="CRED_CRD_NBR"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="CURRENCY_CD"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="UNIQUE_VAL_ID"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>