Generic_Service/Generic_Service/App_Context.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://Generic_Service"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="App_Context">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="request"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="failinfo_lang"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="fainInfo_failureString"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="failInfo_Origin"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>