NCL_CruiseCreateAgency_Module/NCL_CruiseCreateAgency_Module/App_context.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://NCL_CruiseCreateAgency_Module"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nclapi/schemas">
	<xsd:import schemaLocation="NCL_CruiseCreateAgencyRQ.xsd"
		namespace="http://nclapi/schemas">
	</xsd:import>
	<xsd:complexType name="App_context">
		<xsd:sequence>
			<xsd:element minOccurs="0"
				ref="bons0:NCL_CruiseCreateAgencyRQ">
			</xsd:element>
			<xsd:element minOccurs="0" name="LogID" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="ErrorCode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Password"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Errormessage"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>