NCL_CruiseCreateAgency_Module/NCL_CruiseCreateAgency_Module/NclseaNcl_Wesb_Update_Agency_Info.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
    targetNamespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/nclseancl_wesb_update_agency_info"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata" xmlns:nclseancl_wesb_update_agency_info="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/nclseancl_wesb_update_agency_info">
    <import
        namespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata" schemaLocation="JDBCASI.xsd"/>
    <annotation xml:space="preserve">
<appinfo
                source="http://www.ibm.com/xmlns/prod/j2ca/versionCompatability">
<info:resourceAdapter
                version="7.5.0.1" xmlns:info="http://www.ibm.com/xmlns/prod/j2ca/versionCompatability"/>
</appinfo>
</annotation>
    <annotation xml:space="preserve">
<appinfo
                source="commonj.connector.asi">
<asi:annotationSet
                asiNSURI="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata" xmlns:asi="commonj.connector.asi"/>
</appinfo>
</annotation>
    <complexType name="NclseaNcl_Wesb_Update_Agency_Info">
        <annotation xml:space="preserve">
<appinfo
                    source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCBusinessObjectTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPName>NCLSEA.NCL_WESB_UPDATE_AGENCY_INFO</jdbcasi:SPName>
<jdbcasi:MaxNumOfRetRS>0</jdbcasi:MaxNumOfRetRS>
<jdbcasi:ResultSet>false</jdbcasi:ResultSet>
</jdbcasi:JDBCBusinessObjectTypeMetadata>
</appinfo>
</annotation>
        <sequence maxOccurs="1" minOccurs="1">
            <element maxOccurs="1" minOccurs="0" name="p_action"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_agencyid"
                nillable="true" type="int">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
<jdbcasi:DecimalScale>0</jdbcasi:DecimalScale>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_agencyname"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_currency"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_website"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_agency_type"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_taxpayer_type"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0"
                name="p_taxpayer_number" nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_arcnumber"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_iatanumber"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_clianumber"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_officecode"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_legalname"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0"
                name="p_agency_classification_code" nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0"
                name="p_agency_classification_name" nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0"
                name="p_drs_delivery_pref_prekit" nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0"
                name="p_drs_delivery_pref_final" nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>IP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_errorcode"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>OP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="p_errormsg"
                nillable="true" type="string">
                <annotation xml:space="preserve">
<appinfo
                            source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:SPParameterType>OP</jdbcasi:SPParameterType>
</jdbcasi:JDBCAttributeTypeMetadata>
</appinfo>
</annotation>
            </element>
        </sequence>
    </complexType>
</schema>
