NCL_CruiseRegisterWebAccess_Module/NCL_CruiseRegisterWebAccess_Module/DB_LOOKUP.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="DB_LOOKUP.wsdl" targetNamespace="http://NCL_CruiseRegisterWebAccess_Module/DB_LOOKUP" xmlns:bons1="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/nclseancl_wesb_register_agcy_lookupbg" xmlns:bons2="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/nclseancl_wesb_create_agentbg" xmlns:tns="http://NCL_CruiseRegisterWebAccess_Module/DB_LOOKUP" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://NCL_CruiseRegisterWebAccess_Module/DB_LOOKUP">
      <xsd:import namespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/nclseancl_wesb_create_agentbg" schemaLocation="NclseaNcl_Wesb_Create_AgentBG.xsd"/>
      <xsd:import namespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/nclseancl_wesb_register_agcy_lookupbg" schemaLocation="NclseaNcl_Wesb_Register_Agcy_LookupBG.xsd"/>
      <xsd:element name="executeNclseaNcl_Wesb_Register_Agcy_LookupBG">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="executeNclseaNcl_Wesb_Register_Agcy_LookupBGInput" type="bons1:NclseaNcl_Wesb_Register_Agcy_LookupBG"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeNclseaNcl_Wesb_Register_Agcy_LookupBGResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="executeNclseaNcl_Wesb_Register_Agcy_LookupBGOutput" type="bons1:NclseaNcl_Wesb_Register_Agcy_LookupBG"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeNclseaNcl_Wesb_Create_AgentBG">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="executeNclseaNcl_Wesb_Create_AgentBGInput" type="bons2:NclseaNcl_Wesb_Create_AgentBG"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeNclseaNcl_Wesb_Create_AgentBGResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="executeNclseaNcl_Wesb_Create_AgentBGOutput" type="bons2:NclseaNcl_Wesb_Create_AgentBG"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="executeNclseaNcl_Wesb_Register_Agcy_LookupBGRequestMsg">
    <wsdl:part element="tns:executeNclseaNcl_Wesb_Register_Agcy_LookupBG" name="executeNclseaNcl_Wesb_Register_Agcy_LookupBGParameters"/>
  </wsdl:message>
  <wsdl:message name="executeNclseaNcl_Wesb_Register_Agcy_LookupBGResponseMsg">
    <wsdl:part element="tns:executeNclseaNcl_Wesb_Register_Agcy_LookupBGResponse" name="executeNclseaNcl_Wesb_Register_Agcy_LookupBGResult"/>
  </wsdl:message>
  <wsdl:message name="executeNclseaNcl_Wesb_Create_AgentBGRequestMsg">
    <wsdl:part element="tns:executeNclseaNcl_Wesb_Create_AgentBG" name="executeNclseaNcl_Wesb_Create_AgentBGParameters"/>
  </wsdl:message>
  <wsdl:message name="executeNclseaNcl_Wesb_Create_AgentBGResponseMsg">
    <wsdl:part element="tns:executeNclseaNcl_Wesb_Create_AgentBGResponse" name="executeNclseaNcl_Wesb_Create_AgentBGResult"/>
  </wsdl:message>
  <wsdl:portType name="DB_LOOKUP">
    <wsdl:operation name="executeNclseaNcl_Wesb_Register_Agcy_LookupBG">
      <wsdl:input message="tns:executeNclseaNcl_Wesb_Register_Agcy_LookupBGRequestMsg" name="executeNclseaNcl_Wesb_Register_Agcy_LookupBGRequest"/>
      <wsdl:output message="tns:executeNclseaNcl_Wesb_Register_Agcy_LookupBGResponseMsg" name="executeNclseaNcl_Wesb_Register_Agcy_LookupBGResponse"/>
    </wsdl:operation>
    <wsdl:operation name="executeNclseaNcl_Wesb_Create_AgentBG">
      <wsdl:input message="tns:executeNclseaNcl_Wesb_Create_AgentBGRequestMsg" name="executeNclseaNcl_Wesb_Create_AgentBGRequest"/>
      <wsdl:output message="tns:executeNclseaNcl_Wesb_Create_AgentBGResponseMsg" name="executeNclseaNcl_Wesb_Create_AgentBGResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>