NCL_CruiseFitConfirmation_Module/NCL_CruiseFitConfirmation_Module/AppContext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://NCL_CruieFitConfirmation_Module"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nclapi/schemas">
	<xsd:import schemaLocation="NCL_CruiseFitConfirmationRQ.xsd"
		namespace="http://nclapi/schemas">
	</xsd:import>
	<xsd:complexType name="AppContext">
		<xsd:sequence>
			<xsd:element minOccurs="0"
				ref="bons0:NCL_CruiseFitConfirmationRQ">
			</xsd:element>
			<xsd:element minOccurs="0" name="LogId" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="ErrorCode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="ErrorMsg"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>